DATABASE_URL=postgres://postgres:postgres@localhost:5432/lets_learn_hoops
PORT=3000

CORS_ORIGINS=http://localhost:5173

SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAME_SITE=lax
SESSION_COOKIE_DOMAIN=


## production
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DB_NAME
# PORT=3000

# CORS_ORIGINS=https://your-frontend-domain.com

# SESSION_COOKIE_SECURE=true
# SESSION_COOKIE_SAME_SITE=lax
# SESSION_COOKIE_DOMAIN=
# NODE_ENV=production